name: Terraform Pipeline

on:
  push:
    branches: [main]

jobs:
  terraform:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        run: terraform init

      - name: Terraform format Check
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main' # we only want main branch triguring a change
        run: terraform apply -auto-approve
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
